<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
           {{title}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">Filter By:</div>
                <div class="col-md-4">
                    <input type="text" [(ngModel)] ="filterProduct"
                    placeholder="Enter your text"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 id="headFilter">Filtered By:{{filterProduct}}</h3>
                </div>
            </div>
            {{errorMessage}}
            <div class="table-responsive"  *ngIf="products && products.length">
                <table class="table" >
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-success"
                                (click)="toggleImage()">
                                {{showImage?"Hide Image":"Show Image"}}
                                </button>
                            </th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>StarRating</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let product of products|productFilter:filterProduct" >
                                <td><img [src]="product.imageUrl" *ngIf="showImage"
                                   [style.width.px]="imgWidth" /></td>
                                <td>{{product.productName|uppercase}}</td>
                                <td>{{product.productCode|lowercase}}</td>
                                <td>{{product.releaseDate}}</td>
                                <td>{{product.price|currency:"GBP"}}</td>
                                <td><star-edu [rating]="product.starRating"
                                    (ratingClicked)="onRatingClicked($event)"></star-edu></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>





